@model AddCustomerViewModel

@{
    ViewBag.Title = "Add Customer";
}

@using (Html.BeginForm())
{
    <div class="input-fields">
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name)
        @Html.ValidationMessageFor(x => x.Name)

        @Html.LabelFor(x => x.Website)
        @Html.TextBoxFor(x => x.Website)
        @Html.ValidationMessageFor(x => x.Website)

        @Html.LabelFor(x => x.EmailAddress)
        @Html.TextBoxFor(x => x.EmailAddress)
        @Html.ValidationMessageFor(x => x.EmailAddress)

        @Html.LabelFor(x => x.PhoneNumber)
        @Html.TextBoxFor(x => x.PhoneNumber)
        @Html.ValidationMessageFor(x => x.PhoneNumber)

        @Html.LabelFor(x => x.PostalAddressStreet)
        @Html.TextBoxFor(x => x.PostalAddressStreet)
        @Html.ValidationMessageFor(x => x.PostalAddressStreet)

        @Html.LabelFor(x => x.PostalAddressStreetNumber)
        @Html.TextBoxFor(x => x.PostalAddressStreetNumber)
        @Html.ValidationMessageFor(x => x.PostalAddressStreetNumber)

        @Html.LabelFor(x => x.PostalAddressPostalCode)
        @Html.TextBoxFor(x => x.PostalAddressPostalCode)
        @Html.ValidationMessageFor(x => x.PostalAddressPostalCode)

        @Html.LabelFor(x => x.PostalAddressCity)
        @Html.TextBoxFor(x => x.PostalAddressCity)
        @Html.ValidationMessageFor(x => x.PostalAddressCity)

        @Html.LabelFor(x => x.PostalAddressCountry)
        @Html.TextBoxFor(x => x.PostalAddressCountry)
        @Html.ValidationMessageFor(x => x.PostalAddressCountry)

        @Html.LabelFor(x => x.IsInvoiceAddressDifferent)
        @Html.CheckBoxFor(x => x.IsInvoiceAddressDifferent)
    </div>

    <div id="invoice-address" style="display:none;" class="input-fields">
        @Html.LabelFor(x => x.InvoiceAddressStreet)
        @Html.TextBoxFor(x => x.InvoiceAddressStreet)
        @Html.ValidationMessageFor(x => x.InvoiceAddressStreet)

        @Html.LabelFor(x => x.InvoiceAddressStreetNumber)
        @Html.TextBoxFor(x => x.InvoiceAddressStreetNumber)
        @Html.ValidationMessageFor(x => x.InvoiceAddressStreetNumber)

        @Html.LabelFor(x => x.InvoiceAddressPostalCode)
        @Html.TextBoxFor(x => x.InvoiceAddressPostalCode)
        @Html.ValidationMessageFor(x => x.InvoiceAddressPostalCode)

        @Html.LabelFor(x => x.InvoiceAddressCity)
        @Html.TextBoxFor(x => x.InvoiceAddressCity)
        @Html.ValidationMessageFor(x => x.InvoiceAddressCity)

        @Html.LabelFor(x => x.InvoiceAddressCountry)
        @Html.TextBoxFor(x => x.InvoiceAddressCountry)
        @Html.ValidationMessageFor(x => x.InvoiceAddressCountry)
    </div>
    <input type="submit" value="Save" class="btn btn-primary">
}

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#IsInvoiceAddressDifferent').click(function () {
                if ($(this).is(':checked')) {
                    $('#invoice-address').show();
                } else {
                    $('#invoice-address').hide();
                }
            });
        });
    </script>
}